
/* Why doesn't CSS have line comments? Just a question... */

/* Color variables. */

:root {
    /* body/page */
    --bg: hsl(180, 40%, 92%);
    --fg: hsl(20, 50%, 8%);

    /* the omstokk div itself */
    --omstokk-bg: hsl(230, 50%, 89%);
    --omstokk-fg: hsl(90, 70%, 0%);
    --omstokk-border: hsl(210, 15%, 82%);

    --omstokk-block-bg: hsl(100, 50%, 78%);
    --omstokk-block-fg: hsl(80, 50%, 0%);

    --omstokk-slot: hsl(210, 36%, 76%);

    --omstokk-placeholder: hsl(210, 90%, 92%);

    /* there's some additional fuckery with the jquery ui progress bar
     * that i can't quite figure out */
    --progress-bg: hsl(240, 28%, 66%);
    --progress-fg: #000000;
    --progress-text-shadow: hsl(240, 40%, 77%);
}

/* general stuff */

body {
    font-family: "Arial";
    background-color: var(--bg);
    color: var(--fg);
    padding: 1rem;
}

.nowrap {
    white-space: nowrap;
}

.tt {
    font-family: monospace;
}

h1 {
    font-variant: small-caps;
}

p strong {
    font-variant: small-caps;
}

dl {
    margin-left: 1rem;
}

dt {
    font-style: italic;
    font-weight: bold;
}

dd::before {
    content: "➢ ";
}

dd {
    margin-left: 1rem;
}

/* todo list (just a test because I don't know CSS) */

.todo {
    list-style: none;
    padding-inline-start: 1em;
}

.todo::before {
    content: attr(aria-label);
    font-size: 120%;
    font-weight: bold;
}

.todo li::before {
    content: "☐ ";
}

.todo li.done::before {
    content: "☑ ";
}


/*
 * page is imagined as:
 *
 *  .-                    -.
 *  | [title]       [login]| ---- #above
 *  ^-[top info]          -^
 *  .-                    -.
 *  |       OMSTOKK        | ---- #omstokk
 *  |         GAME         |
 *  ^-                    -^
 *  .-                    -.
 *  | [#highscore] /#help\ | ---- #below
 *  ^-             \     /-^
 */

#below, #above {
    display: flex;
    flex-justify: space-evenly;
    gap: 50px;
}

#highscores {
    /* margin: 1rem; */
    min-width: 20%;
    flex-grow: 1;
    flex-shrink: 0;
}

#help {
    /* margin: 1rem; */
    flex-grow: 2;
}

#highscores table {
    font-family: monospace;
    font-size: 150%;
    border-collapse: collapse;
    text-align: center;
}

#highscores th {
    border-bottom: 2px solid black;
    padding: 0 10px;
}

#highscores tbody tr {
    border-bottom: 1px dotted black;
}

#footer {
    font-size: 70%;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin-top: 2rem;
}

#footer > * {
    flex-basis: 30%;
}

/* default is to not show it, the js will show it if needed */
#login-info {
    display: none;
}

/* Actual omstokk. */

#omstokk {
    color: var(--omstokk-fg);
    background-color: var(--omstokk-bg);
    border: 5px solid var(--omstokk-border);
    padding: 0.2rem 1rem;
    margin: 1rem;
    border-radius: 10px;
}

#info {
    display: flex;
    align-items: center;
    justify-content: center;
}

#info p {
    display: inline-block;
    margin: 1% 1rem;
    font-size: 150%;
}

#info p span {
    font-style: italic;
}

#rack {
    width: 100%;
    margin: 2% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 6em;
    /* height: 6rem; */
}

#target {
    width: 100%;
    margin: 2% auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#progress {
    margin: auto 10%;
}


.letter-block {
    background-color: var(--omstokk-block-bg);
    color: var(--omstokk-block-fg);

    display: flex;
    width: 5rem;
    height: 5rem;

    justify-content: center;
    align-items: center;

    float: left;

    padding: 1px;
    margin: 4px;
    border: 2px solid black;
    border-radius: 10px;
}

.letter-target {
    background-color: var(--omstokk-slot);

    display: inline-flex;
    width: 6rem;
    height: 5.5rem;


    padding: 0.2rem;
    margin: 2px;
    border-bottom: 5px solid black;
}

.letter-target::before {
    content: "";
}

.placeholder-rack {
    background-color: var(--omstokk-placeholder);
    margin: 7px;
}

.placeholder-target {
    background-color: var(--omstokk-placeholder);
    margin: 7px;
}

.letter-text {
    display: block;
    font-size: 4rem;
    user-select: none;
    align-self: flex-center;
}

.score-text {
    user-select: none;
    align-self: flex-end;
    opacity: 70%;
}

/* progress bar */
/**/
/* don't ask me why #progress or .progress-label*/
/* are they way they are -- they were both taken from*/
/* StackOverflow.*/
/* and now Emacs has gone haywire and is refusing me*/
/* multi-line comments for some reason.*/
/* Strange.*/

#progress {
    color: var(--progress-fg);
    width: 80%;
    text-align: center;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}

.progress-label {
    float: left;
    width: 100%;
    height: 100%;
    position: absolute;
    vertical-align: middle;
    line-height: 200%;
    font-weight: bold;
    text-shadow: 1px 1px 0 var(--progress-text-shadow);
}

.ui-progressbar-value {
    background: var(--progress-bg);
}

/* supsub: stolen from StackOverflow */

.supsub {
    display: inline-block;
}

.supsub sup,
.supsub sub {
    position: relative;
    display: block;
    font-size: .5em;
    line-height: 1.2;
}

.supsub sub {
    top: .3em;
}

/* debrief table */

#gameover table {
    font-family: monospace;
    border-collapse: collapse;
    text-align: center;
}

#gameover th {
    border-bottom: 2px solid black;
    padding: 0 10px;
}

.debrief .my_word {
    font-weight: bold;
}

/* the end of game message about entering your name */

#extra-msg {
    font-size: 150%;
    text-align: center;
}

/* table general */

.even {
    background-color: var(--omstokk-border);
}
