
<p>Spillet er slutt, du.</p>

<p>Her er alle ordene som var mulige i hver runde.</p>

<p>Bak hvert ord er det to linker til norske ordbøker (Det Norske Akademis
    ordbok (A), og ordbøkene til UiB/Språkrådet (B)). Merk at lenkene kan av og
    til gi null treff hvis ordet er dialektalt eller står i en
    "fantasifull" bøyningsform.</p>

<table class="debrief">
    <thead>
        <th>Runde</th>
        <th>Ordlenge</th>
        <th>Bokstavsett</th>
        <th>Du stavet</th>
        <th>Poeng</th>
        <th>Mulige ord</th>
    </thead>
    <tbody>
        {% for s in sets %}
        <tr class="{{loop.cycle('odd','even')}}">
            <td>{{loop.index}}</td>
            <td class="wordlength">{{s.word_length}}</td>
            <td class="letterset">{{s.letters}}</td>
            <td class="answer">{{s.answer}}</td>
            <td class="points">{{s.points}}</td>
            <td class="allowed">
                {% for w in s.allowed %}
                <span class="{{ 'my_word' if w == s.answer else '' }}">
                    {{- w -}}
                </span><sup><a href="https://naob.no/søk/{{w|urlencode}}">A</a>,<a href="https://ordbok.uib.no/perl/ordbok.cgi?OPP={{w|urlencode}}">B</a></sup>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>

