<table class="skeleton">
    <thead>
        <tr>
            <th scope="col">Plass</th>
            <th scope="col">Navn</th>
            <th scope="col">Poeng</th>
            <th scope="col">Runder</th>
            <th scope="col">Alder</th>
            <th scope="col">Mislyktes på</th>
        </tr>
    </thead>
    <tbody>
        {% for row in scores %}
        <tr class="{{loop.cycle('odd', 'even')}}">
            <td>{{row['rank']}}</td>
            <td>{{row['name']}}</td>
            <td>{{row['score']}}</td>
            <td>{{row['rounds']}}</td>
            <td>{{
               '{:.1f}d'.format(row['age']/(24.0*60.0*60.0))
                }}</td>
            <td>{{row['failed']}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
