<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Omstokk</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- <link rel="apple-touch-icon" href="/apple-touch-icon.png"> -->
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="static/ui/jquery-ui.css">
        <link rel="stylesheet" href="static/omstokk.css">

        <!-- Kinda unnecessary, just adds a few conveniences for me, I don't really
             know the entire lib. But what would the web be without some bloat. -->
        <script src="static/lodash.min.js"></script>
        <!-- Nice and terse non-framework framework. -->
        <script src="static/jquery-3.6.0.min.js"></script>
        <!-- Also unnecessary. Only use it for a few effects and the drag & drop functionality. -->
        <script src="static/ui/jquery-ui.min.js"></script>
        <!-- Because jQuery UI doesn't work with touch events out of the box... -->
        <script src="static/jquery.ui.touch-punch.min.js"></script>
        <!-- Only so that I can programmatically drag and drop without having to
             worry about upsetting jQuery UI's state or anything, because I don't
             really know it that well.

             No longer needed. -->
        <!-- <script src="jquery.simulate.js"></script> -->

        <!-- The actual game code. Insignificant. -->
        <script src="static/omstokk.js"></script>
        <script>
            var my_name = {{my_name|tojson|safe}};
        </script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">
            You are using an <strong>outdated</strong> browser. Please
            <a href="http://browsehappy.com/">upgrade your browser</a> to improve
            your experience.
            </p>
        <![endif]-->

        <div id="above">
            <div id="info-top">
                <h1>Omstokk</h1>

                <p>
                    Du får noen bokstaver. Bruk dem til å stave gode, norske ord.
                </p>

                <p>
                    <strong>Obs! Spillet er bare en prototype, spillet har mange feil og
                        mangler, spillet ser ræva ut;
                        jeg er ikke en web-programmerer.
                    </strong>
                </p>
            </div>

            <div id="login-info">
                <p>
                    Du spiller som <span id="my-name" class="nowrap tt">{{my_name}}</span>
                </p>
                <p><button>Nullstill</button></p>
            </div>
        </div>

        <div id="omstokk">
            <!-- <strong class="loading"> -->
            <!--     Hopefully your internet is too fast for you to read this -->
            <!--     message. That is, the game is loading, please wait. These -->
            <!--     words should disappear in a couple of seconds, otherwise -->
            <!--     something is probably broken. Sorry. -->
            <!-- </strong> -->
            <div id="info">
                <p>Score: <span id="score">0</span></p>
                <p>Runde: <span id="round">0</span></p>
                <p>Vanskelighetsgrad: <span id="difficulty">?</span></p>
            </div>
            <div id="extra-msg">
                Stav initialene dine for å havne på highscore-lista!
            </div>
            <div id="running">
                <div id="progress">
                    <div class="progress-label"></div>
                </div>
                <div id="target"></div>
                <div id="rack"></div>
            </div>
            <div id="gameover">
                <!-- I'll be filled by Ajax callback. -->
            </div>
        </div>

        <div id="controls">
            <p>Nytt spill:
                <button data-level="3">Lett 😀</button>
                <button data-level="2">Barskt 😐</button>
                <button data-level="1">Vanskelig 😬</button>
                <button data-level="0">Nådeløst 😈</button>
            </p>
        </div>

        <div id="below">
            <div>
                <h2>Highscores</h2>
                <div id="highscores">
                    <ul>
                        <li><a href="/omstokk/hs/score/3">Lett 😀</a></li>
                        <li><a href="/omstokk/hs/score/2">Barskt 😐</a></li>
                        <li><a href="/omstokk/hs/score/1">Vanskelig 😬</a></li>
                        <li><a href="/omstokk/hs/score/0">Nådeløst 😈</a></li>
                    </ul>
                </div>
            </div>

            <div id="help">
                <h2>Hjelp</h2>
                <p>
                    Du kan bruke tastaturet
                    (anbefalt boomer-tech) til å skrive inn bokstaver direkte,
                    eller du kan dra bokstavklossene som i barnehagen.
                </p>

                <p>
                    Vanskelighetsgrad kontrollerer i første omgang hvor orddrektige bokstavsettene en får er:
                </p>
                <dl>
                    <dt>Lett</dt><dd>bokstavsett hvor det alltid er <strong>16+</strong> mulige ord som kan dannes.</dd>
                    <dt>Barskt</dt><dd>bokstavsett hvor <strong>8-15</strong> ord kan dannes.</dd>
                    <dt>Vanskelig</dt><dd>bokstavsett hvor kun <strong>2-7</strong> ord kan dannes.</dd>
                    <dt>Nådeløst</dt><dd>bokstavsett som kun representerer <strong>ett eneste</strong> ord.</dd>
                </dl>

                <p>
                    <strong>Obs!</strong>
                        Merk at disse reflekterer hvor vanskelig det er å
                    <i>passere mange runder</i>. I begynnelsen når ordene er
                    korte kan det ofte være lettere å "se" ordet på
                    <em>nådeløst</em> enn det er på lettere innstillinger.
                </p>

                <p>
                    Bruker <a href="https://www2.scrabbleforbundet.no/?page_id=1488">ordlista</a> fra
                    Norsk Scrabbleforbund. Ja, jeg vet at mange av ordene er supersære, ta det opp
                    med NSF eller Språkrådet. Imperativsformer,
                    spesielt, har en tendes til å virke på trynet: sabl, fjakl, polstr, osv.
                </p>

                <p>
                    Du starter med 60 sekunder på klokka, men
                    for hvert ord du finner så får du bonustid som
                    tilsvarer 2 × ordlengden i sekunder.
                    (Mulig dette må justeres.)
                </p>

                <p>
                    <strong>Obs!</strong>

                    Ikke lag kvalm og ikke ta poengene for seriøst. Det er
                    trivielt å jukse i spillet; det er også trivielt å bare
                    sette hva enn poengsum en vil ha. Spillet tilbys under
                    forutsetning at folk er <em>chill</em>. Jeg vil ikke lage noe
                    login-opplegg for denne lille greia, ei heller legge
                    energi i obfuskasjon og meningsløse sjekker som uansett
                    lett kan overvinnes av en dedikert nok antisosial
                    tenåring.
                </p>

                <h3>Nerdedetaljer</h3>
                <p>
                    <strong>Teknisk kommentar:</strong>

                    Måten spillet velger lengden på ordene du skal stave
                    er ikke fullstendig etablert enda. Per nå bruker det enkel matematikk
                    for å kraftig vekte korte ord i tidlige rundene, som asymptotisk går
                    mot å vekte lange ord i senere runder.
                    Realistisk sett vil en
                    ikke begynne å se 8-bokstaversord før runde 15-20.
                    Fordelingen starter med 100% for 4-bokstavsord i runde 1, og går
                    asymptotisk mot 40% sjanse for 8-bokstavsord,
                    32% sjanse for 7-bokstavsord, så 16%, 8%, og ned til bare 4% sjanse
                    for å se 4-bokstavsord.
                    Se <a href="https://gitlab.com/franksh/omstokk/">spaghettikoden</a> for detaljer.
                </p>

                <p>
                    <strong>Teknisk kommentar:</strong>

                    Bokstavsettet en får blir generert ved å første starte med
                    et gyldig grunnord, og så legge til én og én bokstav hvor hver
                    gjør at en kan stave nye unike ord. Så alle
                    bokstavene en får utdelt er del av
                    <em>minst</em> ett ord; ingen er overflødige.
                    Se <a href="https://gitlab.com/franksh/omstokk/">spaghettikoden</a> for detaljer.
                </p>
            </div>
        </div>

        <div id="footer">
            <ul class="todo" aria-label="Todo List">
                <li class="done">drag & drop</li>
                <li class="done">keyboard input</li>
                <li class="done">touch device</li>
                <li class="done">some dancing pigs (ui effects)</li>
                <li class="done">main game loop</li>
                <li>figure out difficulty curve/word selection</li>
                <li class="done">timer/progress bar?</li>
                <li class="done">dynamic time: each new round adds time rather than resets it</li>
                <li class="done">show round/score</li>
                <li class="done">show solutions at game end</li>
                <li>individual letter scores & multipliers</li>
                <li class="done">difficulty setting (anagram source) can be changed</li>
                <li class="done">high score list (requires backend)</li>
                <li class="done">serve words from server instead (requires backend)</li>
                <li>button/shortcut key for shuffle</li>
                <li>english version? (anagrams are not a problem; how to do the html side?)</li>
                <li class="done">don't start timer until first letter is placed</li>
            </ul>
            <ul class="todo" aria-label="Ideas (That Are Bigger Projects and I Probably Don't Want to Ever Implement)">
                <li class="">joker/wildcard tiles</li>
                <li class="">seeded games (i.e. fixed games that can be played by many to compete against each other)</li>
                <li class="">teams/affiliations/logins (related to above)</li>
                <li class="">boggle mode (finding words in 3x3 or 4x4 grids)</li>
            </ul>
            <div id="in-apocrypha-judas-iscariot-as-a-child-bit-the-young-jesus-and-was-exorcised">
                <p>
                    Confessions of a Black Hole:
                </p>
                <p>
                    All ideas/code/html/css/text is Hawking radiation from the
                    solipsistic event horizon of <em>moi</em>, Frank S. Hestvik.
                    It is the byproduct of a Markov process in which I
                    continually took apart StackOverflow answers and pasted them
                    back together randomly, until the brain bugs and heart soot
                    congealed into a barely functional little Web Game.
                </p>
                <p>
                    So there's little sense in a copyright notice; can a black
                    heart ever claim as its own the waste caused by its
                    merciless consumption? Rather, I'd wish for mercy to still
                    the cockles of your own heart should you ever peer at the
                    source, for it is a hideous, disfigured thing, unfit for
                    daylight.</p>

                <p>I hate web-programming, and I hate the web—yet
                    here we are, because this is where <em>you</em> are, and I
                    do get lonely.
                </p>

                <p>
                    <em>Hate</em> is a strong word. I meant <em>dislike</em>, by
                    which I mean <em>am uncomfortable with</em>. In
                    that sense I hate Norwegian too, men igjen, dette
                    er <em>ditt</em> språk,
                    <em>n'est-ce pas</em>?
                </p>
            </div>

        </div>
    </body>
</html>
